<% include partials/header %>


<h1>landing page</h1>

<p>Welcome to yelpcamp</p>

<div class="container">
	<ul>
		<li><a href="/campgrounds">view all campgrounds</a></li>
		<li><a href="/color">view color</a></li>
		<li><a href="/get-data">index page</a></li>
	</ul>
</div>


<% include partials/footer %>